* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100%;
    width: 100%;
}
.first-section{
    height: 70%;
    width: 100%;

}
.second-section{
    height: 30%;
    width: 100%;
}
.maracas{
    position: relative;
    top: 50%;
    left: 30%;
}

