<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="container title">
		<h1>Heading</h1>
	</div>
	<div class="container section-1st">
		<div class="maracas">
			<div class="maracas-png">
				<img src="img/maracas.jpg">
			</div>
			<div class="maracas-gif">
				<img src="img/maracas.gif">
			</div>
		</div>
		<div class="guitar">
			<div class="guitar-png">
				<img src="img/guitar.jpg">
			</div>
			<div class="guitar-gif">
				<img src="img/guitar.gif">
			</div>
		</div>
		<div class="drums">
			<div class="drums-png">
				<img src="img/drums.png">
			</div>
			<div class="dancer-png">
				<img src="img/dancer.jpg">
			</div>
			<div class="dancer-gif">
				<img src="img/dancer.gif">
			</div>
		</div>
	</div>
</ion-content>
